<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>correct_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1040},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,780},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,520},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,260},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1040},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,780},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,520},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,260},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,0},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1040},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,780},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,520},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1040},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>correct_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1040,1300}</string>
			<key>textureFileName</key>
			<string>texture.png</string>
			</dict>
		</dict>
</plist>